* {
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

ol, li, ul {
  list-style: none;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-text-size-adjust: none;
}

a, div, header, span {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

blockquote, q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
textarea {
  outline: 0;
  resize: none;
}

input {
  vertical-align: middle;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

a:link {
  color: #fff;
}

a:visited {
  color: #fff;
}

a:hover {
  color: #fff;
}

a:active {
  color: #fff;
}

.clearfix::before {
  content: ' ';
  display: table;
}

.clearfix::after {
  content: ' ';
  display: table;
  clear: both;
}

.fr {
  float: left;
}

.fl {
  float: right;
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  html {
    font-size: 11px;
  }
}

@media screen and (min-width: 376px) and (max-width: 414px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 415px) and (max-width: 639px) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 640px) and (max-width: 719px) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 720px) and (max-width: 749px) {
  html {
    font-size: 22.5px;
  }
}

@media screen and (min-width: 750px) and (max-width: 799px) {
  html {
    font-size: 23.5px;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 25px;
  }
}

.main img {
  width: 100%;
}

.content {
  padding: 0 6.4%;
  background-color: #d60934;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #ffff00;
}

.title .m-title {
  padding-bottom: 1.04167rem;
  background: url("../images/m_title-bg.png") no-repeat bottom center;
  background-size: 100%;
}

.title .s-title {
  font-size: 1.25rem;
  color: #f5d475;
}

.ticket {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 2.5rem;
}

.ticket img {
  margin-top: 2.5rem;
}

.rule {
  margin-top: 2.91667rem;
}

.rule .rule-title {
  position: relative;
  font-size: 2rem;
  color: #ffff00;
  text-align: center;
}

.rule .decor {
  width: 7.5rem;
  height: 0.16667rem;
}

.rule .l-decor {
  position: absolute;
  top: 50%;
  left: 0%;
  background-image: -webkit-linear-gradient(left, transparent, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8), #ffff00 50%);
  transition: translateY(-50%);
  -moz-transition: translateY(-50%);
  -webkit-transition: translateY(-50%);
  -o-transition: translateY(-50%);
  -ms-transition: translateY(-50%);
}

.rule .r-decor {
  position: absolute;
  top: 50%;
  right: 0%;
  background-image: -webkit-linear-gradient(right, transparent, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8), #ffff00 50%);
  transition: translateY(-50%);
  -moz-transition: translateY(-50%);
  -webkit-transition: translateY(-50%);
  -o-transition: translateY(-50%);
  -ms-transition: translateY(-50%);
}

.rule .l-decor::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 0.83333rem;
  height: 0.83333rem;
  background: #ffff00;
  transform: translateY(-50%) rotate(45deg);
}

.rule .r-decor::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 0.83333rem;
  height: 0.83333rem;
  background: #ffff00;
  -webkit-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}

.rule .rule-list {
  padding: 2.91667rem 0;
  font-size: 1.25rem;
  color: #fff;
}

.rule .rule-list li {
  margin-bottom: 1.16667rem;
  text-align: justify;
}

.rule .rule-table table {
  table-layout: fixed;
  width: 100%;
  text-align: center;
  background: #fff;
  border-bottom: 0.25rem solid #ecb81c;
}

.rule .rule-table table thead {
  font-size: 1.16667rem;
  color: #ecb81c;
  border-top: 0.25rem solid #ecb81c;
  border-bottom: 0.25rem solid #ecb81c;
}

.rule .rule-table table thead th:nth-child(3n) {
  width: 40%;
}

.rule .rule-table table thead th:last-child {
  border-right: none;
}

.rule .rule-table table tbody {
  color: #333;
}

.rule .rule-table table tbody tr:first-child td:last-child {
  border-right: none;
}

.rule .rule-table table td p {
  width: 10px;
  margin: 0 auto;
}

.rule .rule-table table th, .rule .rule-table table td {
  padding: 0.83333rem 0;
  vertical-align: middle;
  border-right: 0.08333rem solid #e4e4e4;
  border-bottom: 0.08333rem solid #e4e4e4;
}

.warn {
  padding: 2.08333rem 0 4.16667rem;
  font-size: 1rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.21);
}
